@font-face {
	font-family: 'GothamBook';
	src: url('./GothamBook.eot');
	src: local('GothamBook'), url('./GothamBook.woff') format('woff'), url('./GothamBook.ttf') format('truetype');
}


.logo {
    width: 40px;
    position: fixed;
    left: 2vw;
    top: 1vw;
    z-index: 1000;
}

.menuico {
    width: 45px;
    height: 7.5px;
    background-color: white;
    margin: 6px 0;
    border-radius: 10px;
}

.menuicoborder {
    position: fixed;
    right: 2vw;
    top: 1vw;
    cursor: pointer;
    z-index: 1000;
}

.filter {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    left: 0;
    top: 0;
    background-color: black;
    opacity: 0.5;
}

.bildfyll {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -2;
    left: 0;
    top: 0;
    background-image: url("../Pic/paint.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainText {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-family: 'GothamBook' !important;
}

.mainText p {
    text-align: center;
    color: white;
    font-size: 5vw;
    margin: 0;
    padding: 0; 
}

.merinfo {
    position: absolute;
    left: 67%;
    top: 65%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    font-family: 'GothamBook' !important;
    border: 3px solid white;
    color: white;
    cursor: pointer;
}

.merinfo p {
    font-size: 1.7em;
    margin: 0;
    padding: 0.7vw;
    padding-left: 1vw;
    padding-right: 1vw;
}

.föralla {
    position: relative;
    bottom: 1vw;
}

.arrow {
width: 50px;
position: absolute;
left: 50%;
bottom: 2vw;
transform: translate(-50%,0);
cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1001;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'GothamBook' !important;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .about {
    position: relative;
    height: 100vh;
    width: 100%;
  }

  .services {
    position: relative;
    height: 100vh;
    width: 100%;
  }

  .tjänsterR1 {
      position: absolute;
      left: 30%;
  }

  .tjänsterR2 {
    position: absolute;
    left: 70%;

}

#tjänster {
    background: #f1f1f1;
    height: 40%;
    width: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.utbudDiv {
    position: relative;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%,-50%);
}

.line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.2px solid #FFF;
    height: 80%;
    width: 1px;
    background: #FFF;
}

.utbud {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 5vw;
    margin: 0;
    padding: 0;
}

.listUtbud {
    position: absolute;
    left: 52%;
    top: 50%;
    transform: translate(0,-50%);
    cursor: pointer;
    display: block;
}

.listUtbud a {
    text-decoration: none;
}

.listUtbud p {
    text-decoration: none;
    color: #FFF;
    font-size: 1.3rem;
    margin: 0;
    padding: 0.2em;
}

.more {display: none}

.Fill2 {
    background: #353535;
    width: 100%;
    height: 100%;
    position: absolute;
}

.clients {
        position: relative;
        height: 100vh;
        width: 100%;
}

p.info {
    text-decoration-line: underline;
    font-size: 1.5rem;
}

.varning {
    position: relative;
    left: 50%;
    top: 6vh;
    transform: translate(-50%, 0);
    width: 20%;
}

.varningTxT {
    margin-top: 10vh;
    font-size: 3vw;
    text-align: center;
    color: #FFF;
}

.VDiv {
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 60%;
}

.varningTxT2 {
    font-size: 1.5vw;
    color: #FFF;
    text-align: center;
}

@media only screen and (max-width: 1000px){
    .mainText p {font-size: 6.5vw;}
    .utbud {font-size: 6.5vw;}
    .varningTxT {font-size: 3.75vw;}
    .varningTxT2 {font-size: 2vw;}
    
}

@media only screen and (max-width: 850px){
    .deskCont2 {display: none;}
    .more {display: block;}
    .listUtbud p {
        font-size: 1.2rem;
    }
}

@media only screen and (max-width: 600px){
    .merinfo {
        left: 50%; 
        top: 60%;
    }

    .merinfo p {
        font-size: 8vw;
        padding: 1vw;
        padding-left: 3vw;
        padding-right: 3vw;
    }

    .mainText p {font-size: 12.5vw;}
    .utbud {font-size: 12.5vw;}

    .bildfyll {
        background-position: 25% 50%;
    }

    .line {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 1px;
    }

    .utbud {
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .listUtbud {
        left: 50%;
        top: 22%;
        transform: translate(-50%,0);
        text-align: center;
        width: 80%;
    }

    .deskCont {display: block;}

    .menuico {
        top: 1
        width: 60px;
        height: 10px;
    }

    .VDiv {width: 80%}

    .varningTxT {font-size: 6.5vw;}
    .varningTxT2 {font-size: 4vw;}


}

@media only screen and (max-width: 450px) {
    .deskCont {display: none;}
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .deskCont {display: none;}
  }