extends layout

block content
    div(class="menuicoborder")
        div(class="menuico")
        div(class="menuico")
        div(class="menuico")

    
    div(class="bildfyll")


    div(class="filter")
    img(class="logo" src="Pic/logo.svg", alt="")
    div(class="mainText")
        p BILDTERAPI
        p(class="föralla") FÖR ALLA

    div(class="merinfo")
        p MER INFO


    img(class="arrow" src="Pic/arrow.svg", alt="")