extends layout

block content
    div(class="menuicoborder" onclick="openNav()")
        div(class="menuico")
        div(class="menuico")
        div(class="menuico")

    
    div(class="bildfyll")

    div(class="filter")
    img(class="logo" src="Pic/logo.svg", alt="")
    section(class="about" id="section1")
        div(class="mainText")
            p BILDTERAPI
            p(class="föralla") FÖR ALLA

        a(href="#section2")
            div(class="merinfo")
                p MER INFO

        a(class="arrowA" href="#section2")
            img(class="arrow" src="Pic/arrow.svg", alt="")

    section(class="services" id="section2")
        div(class="Fill2")
        div(class="utbudDiv")
            p(class="utbud") Utbud
            div(class="line")
            div(class="listUtbud")
                a(href="utbud.html")
                    p Bildterapi, individuellt och i grupp
                    p Bildarbetet med barn/unga
                    p Psykosocialt samtalsstöd
                    p Parsamtal
                    p Familjerådgivning
                    div(class="deskCont")
                        p Psykoterapi
                        p Mindfulnessbaserat bildarbetet
                        p Handledning
                        div(class="deskCont2")
                            p Teamutveckling
                            p Motiverande samtal
                            p Lösningsfokuserad terapi
                    p(class="more") ...

        a(class="arrowA" href="#section3")
            img(class="arrow" src="Pic/arrow.svg", alt="")

    section(class="clients" id="section3")

        a(class="arrowA" href="#section1")
            img(class="arrow" src="Pic/arrow.svg", alt="")

    div(id="mySidenav" class="sidenav")
        a(href="javascript:void(0)" class="closebtn" onclick="closeNav()")  &times;
        a(href="#section1") Hem
        a(href="#section2") Tjänster
        a(href="#section3") Clients
        a(href="#") Contact